@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "IBM Plex Sans Thai", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
}

body {
  line-height: 1.75;
}
